%h1.heading
  = 'New Problem'
  
- semantic_form_for(@problem) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', problems_path
