- content_tag_for(:tr, language, :class => cycle(:odd, :even)) do
  %td.abbreviation= h language.try(:abbreviation)
  %td.name= h language.try(:name)
  %td.actions
    - unless current_user.nil?
      = link_to 'Show', language_path(language)
      |
      = link_to 'Edit', edit_language_path(language)
