%h1.heading
  = 'New Language'
  
- semantic_form_for(@language) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', languages_path