%h1.heading
  = "Editing analysis of <br />%s - <em>%s</em>" % [@problem.code, @problem.name]
  
- semantic_form_for([@problem, @analysis]) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', problem_path(@problem) 
