%h1.heading
  = 'New Statement'
  
- semantic_form_for([@problem, @statement]) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', problems_path(@problem)
