%h1.heading
  = 'New Online judge'
  
- semantic_form_for(@online_judge) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    = link_to 'Cancel', online_judges_path
